<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="dialect">model.dialect.SQLiteDialect</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<property name="connection.url">jdbc:sqlite:config/addressbook.db</property>
		<property name="connection.username"></property>
		<property name="connection.password"></property>
<!-- 	<property name="hibernate.hbm2ddl.auto">create</property> -->
	   

		<mapping resource="model/hbm/Driver.hbm.xml"/>
		<mapping resource="model/hbm/User.hbm.xml"/>
		<mapping resource="model/hbm/Bus.hbm.xml"/>
		<mapping resource="model/hbm/Authority.hbm.xml"/>
		<mapping resource="model/hbm/Host.hbm.xml"/>
		<mapping resource="model/hbm/BusOwner.hbm.xml"/>
		<mapping resource="model/hbm/Muavin.hbm.xml"/>
		<mapping resource="model/hbm/OutOffice.hbm.xml"/>
		<mapping resource="model/hbm/AuthorizedPerson.hbm.xml"/>
		
	</session-factory>
</hibernate-configuration>
